body {
    background: url(https://b.bdstatic.com/comment/HPpFm-ziUYsgpwpjCcQ1VA859bd5804e0cdcd4d100eb9db55b5a24.png);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}

//文章背板的颜色rgb
.main-inner > .sub-menu, .main-inner > .post-block, .main-inner > .tabs-comment, .main-inner > .comments, .main-inner > .pagination{
	background: rgba(255,255,255,0.9);
  padding: 30px;
  border-radius: 30px;
}

.post-block{
  margin-bottom: 40px;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.9;
}

//菜单栏的调色
.header-inner {		
  background: rgba(255,255,255,0.7);
}

//搜索框透明
.popup {		
  opacity: 0.9;
}

.main-inner {
    background-color: rgba(255, 255, 255, 0);  //主体背景透明
    padding: 0px 40px 40px 40px;  //调整组件位置
}

// toggle hider title
.hider_title {
    cursor: pointer;
    background: #eeeeee;
}

// toggle indicators
.close:before {
    padding-left: .5em;
    padding-right: .5em;
    content: "▼";
}
.open:before {
    padding-left: .5em;
    padding-right: .5em;
    content: "▲";
}
p code, .hider_title code {
    color: #c71585;
    background: #fffafa;
    margin: 2px;
}
.text-center {
  text-align: center;
}

.site-author-image {
  background: white;
  background-clip: content-box;
}

.sidebar .sidebar-button {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  a {
    button($orange);
    border: 1px solid $orange;
    border-radius: 4px;
    // To make line-height in button mixin work
    display: inline-block;

    .fa, .fab, .far, .fas {
      margin-right: 5px;
    }

    if (($scheme == 'Pisces') or ($scheme == 'Gemini')) {
      border: 0;
      color: $orange;
      display: block;

      &:hover {
        background: none;
        border: 0;
        color: darken($orange, 20%);
      }
    }
  }
}
