body {
      background: url(https://yanxuan.nosdn.127.net/ec4fc7082a9d1be17a5684da40b801ae.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}